<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.system.proyecto_pets" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_pets" >
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Proyecto_pets.NoActionBar" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.FormActivity"
            android:exported="false" />
        <activity
            android:name=".view.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:theme="@style/splashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true" />
    </application>

</manifest>